@font-face {
  font-family: "iconfont"; /* Project id 4679176 */
  src: url('./iconfont.woff2?t=1727061237280') format('woff2'),
       url('./iconfont.woff?t=1727061237280') format('woff'),
       url('./iconfont.ttf?t=1727061237280') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  margin-right: 5px;
}

.icon {
  width: 2em;
  height: 2em;
  vertical-align: -0.15em;
  fill: currentColor;
  overflow: hidden;
}


.icon:before {
  margin-right: 5px;
}

.icon-duanshipin:before {
  content: "\e61d";
}

.icon-reduced-volume:before {
  content: "\e687";
}

.icon-bofangzanting:before {
  content: "\e62c";
}

.icon-jingyin:before {
  content: "\e676";
}

.icon-bofangzantinganniu-:before {
  content: "\e61a";
}

.icon-xitongquanpingxianshi:before {
  content: "\e6ef";
}

.icon-shanchu:before {
  content: "\e62a";
}

.icon-bilibili:before {
  content: "\eb78";
}

.icon-13:before {
  content: "\e629";
}

.icon-erweima:before {
  content: "\e680";
}

.icon-csdn:before {
  content: "\e639";
}

.icon-github-fill:before {
  content: "\e885";
}

.icon-google:before {
  content: "\ea0c";
}

.icon-weixin:before {
  content: "\e607";
}

.icon-denglu2:before {
  content: "\e637";
}

.icon-denglu:before {
  content: "\e619";
}

.icon-denglu1:before {
  content: "\e62b";
}

.icon-boke:before {
  content: "\e605";
}

.icon-blog1:before {
  content: "\e602";
}

.icon-tianjiajihua:before {
  content: "\e600";
}

.icon-webhook:before {
  content: "\e936";
}

.icon-kaifagongju:before {
  content: "\e768";
}

.icon-api:before {
  content: "\e7e1";
}

.icon-rtcyinshipintongxin:before {
  content: "\e8b3";
}

.icon-zhongguohangtiantubiaoheji-weizhuanlunkuo-:before {
  content: "\e62f";
}

.icon-kaifarenyuan:before {
  content: "\e7d9";
}

.icon-dc-icon-guojiazhongdianshiyanshi:before {
  content: "\e64d";
}

.icon-json:before {
  content: "\e63a";
}

.icon-yijianyujianyifankui:before {
  content: "\e625";
}

.icon-QAyanshou:before {
  content: "\e601";
}

.icon-blog:before {
  content: "\e638";
}

.icon-guanli-1111:before {
  content: "\e611";
}

.icon-shuomingwendang:before {
  content: "\e705";
}

.icon-ailiaotian_AIliaotian:before {
  content: "\e636";
}

.icon-fuwu:before {
  content: "\e9ee";
}

.icon-guanyuwomen:before {
  content: "\e68b";
}

.icon-Nginxwenjianjiexiloudong:before {
  content: "\e79f";
}

